
<!DOCTYPE HTML>
<html>
  <head>
    <!--<script type="text/javascript">
      var host = "www.pierre-lespingal.xyz";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
         window.location.protocol = "https";
    </script>-->

    <meta charset="utf-8">
    <link rel="canonical" href=" { { .Site.BaseURL } }{ { .Site.url } }" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/central.css"/>
    <title>Pierre Lespingal - {{ .Title }}</title>
    <script src="https://d3js.org/d3.v4.js"></script>
  </head>

  <body class="light-background">
    <div class="Container">
      <header class="Container-header Header dark-background shadow-div">
        <div class="ratio-wrapper">
          <div class="ratio-box">
            <a href="{{ .Site.BaseURL }}">
              <div class="Header-profilPicture full-image round-div aero" style="background-image: url({{ $.Site.BaseURL }}/images/profil.jpg)">
              </div>
            </a>
          </div>
        </div>

        <nav class="Header-nav">
          <ul class="Nav-ul Nav">
            <li class="Nav-li NavLink">
              <a href="{{ .Site.BaseURL }}/article/about" class="NavLink-a link h3-font-size light-text">
                <div class="NavLink-text">
                  <p></p><p class="NavLink-specialLetter alt-light-text">A</p><p>bout</p>
                </div>
              </a>
            </li>
            <li class="Nav-li NavLink">
              <a href="{{ .Site.BaseURL }}/article" class="NavLink-a link h3-font-size light-text">
                <div class="NavLink-text">
                  <p>A</p><p class="NavLink-specialLetter alt-light-text">r</p><p>ticles</p>
                </div>
              </a>
            </li>
            <li class="Nav-li NavLink">
              <a href="{{ .Site.BaseURL }}/project" class="NavLink-a link h3-font-size light-text">
                <div class="NavLink-text">
                  <p>Projec</p><p class="NavLink-specialLetter alt-light-text">t</p><p>s</p>
                </div>
              </a>
            </li>
          </ul>
        </nav>

        <ul class="Header-socialLinks SocialLinks">
          <li class="SocialLinks-li">
            <a class="jump-link" href="https://github.com/PierreLeBlond/">
            <div class="SocialLinks-icon jump-content full-image" style="background-image: url({{ $.Site.BaseURL }}/images/icon/github-logo.png"></div>
            </a>
          </li>
          <li class="SocialLinks-li">
            <a class="jump-link" href="https://www.linkedin.com/in/pierre-lespingal-497a41a5/">
            <div class="SocialLinks-icon jump-content full-image" style="background-image: url({{ $.Site.BaseURL }}/images/icon/linkedin-button.png"></div>
            </a>
          </li>
        </ul>

      </header>

      <main class="Main">

