@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: 'Comic+Neue', Inter, sans-serif;
}

@custom-variant horizontal {
  @media (min-aspect-ratio: 16/9) {
    @slot;
  }
}

@custom-variant xs {
  @media (max-aspect-ratio: 16/9) and (min-width: 448px) {
    @slot;
  }
}