@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme inline {
  --font-sans: 'Istok Web', Inter, sans-serif;
  --font-title: 'Lexend';

  --color-background: var(--color-orange-100);
  --color-foreground: var(--color-gray-900);

  --color-accent: var(--color-blue-400);
}

@custom-variant horizontal {
  @media (min-aspect-ratio: 16/9) {
    @slot;
  }
}

@custom-variant xs {
  @media (max-aspect-ratio: 16/9) and (min-width: 448px) {
    @slot;
  }
}